body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63,14,126);
  background: linear-gradient(180deg, rgba(63,14,126,1) 0%, rgb(135, 71, 165) 100%, rgba(160,63,251,1) 100%);
  min-height: 100vh;
  backdrop-filter: blur(100px);
  
  
}
ul{
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chama{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: white;
  width: 600px;
  height: 200px;
  justify-content:end; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  transform: translate(50%, 50%);
  font-size: 25px;
}

.chama h1 span{
  color: rgb(230, 94, 230, 0.767);
}
.chama p span{
  color: rgb(230, 94, 230, 0.767);
}
.ul_home{
  display: flex;
 
}
.img{
  transform: translate(50%, 50%);
}
.lista_cont {
  
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 5%;
  height: 550px;
  width: 500px;
  margin-left: 35%;
  color: white;
  background-color: #2b3035;
  border-radius: 40px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.lista {
  list-style: none;
  padding: 0;
  display: block;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  
}

.lista li {
  display: flex;
  margin: 50px 10px; /* Espaçamento entre os ícones, ajuste conforme necessário */
  font-size: 30px;

}

.lista li a{
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: color 0.4s;
  
}
.lista li a:hover{
  color: rgb(230, 94, 230, 0.767);
}

.wpp{
  color: rgb(230, 94, 230, 0.767);
  margin-right: 10px;
  
}
.git{
  margin-right: 10px;
  color: rgb(230, 94, 230, 0.767);
}
.env{
  margin-right: 10px;
  color: rgb(230, 94, 230, 0.767);
}

.carousel img {
  max-width: 1700px;
  height: 700px;
  margin: 0 auto; /* Centralize horizontalmente a imagem */
}

.caption {
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com transparência */
  padding: 10px; /* Espaçamento interno para o conteúdo da legenda */
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); /* Sombra */
  color: white; /* Cor do texto */
  text-align: center; /* Centralizar o texto horizontalmente */
  max-width: 45%; /* Definir a largura máxima */
  margin: 0 auto; /* Centralizar a legenda horizontalmente */
  
}

.form{
  text-align: center; /* Centralizar o texto horizontalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 5%;
  height: 550px;
  width: 500px;
  margin-left: 35%;
  color: white;
  background-color: #2b3035;
  border-radius: 40px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  
}

.titulo{
  padding: 30px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}
.nome{
  padding: 30px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.pergunta{
  padding: 30px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
}

.textareap{
  border-radius: 10px;
  width: 400px;
  height: 100px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.textarea{
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
}

.enviar{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
  width: 100px;
  border-radius: 10px;
  transition: color 0.8s, background-color 0.8s;
}

.enviar:hover{
  background-color: rgb(112, 57, 138);
  color: white;
}